<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <main>
      <h3>
        <a href="/links.html" style="position: absolute; top: 50px; left: 30px"
          >My Links</a
        >
      </h3>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %> url shortener</p>
      <form action="/api/short" method="post" class="form">
        <div class="form">
          <input
            placeholder="Enter your long url"
            type="url"
            name="link"
            id="link"
            class="link"
            required
          />
        </div>
        <div class="form">
          <input type="submit" value="Get Short Link" />
        </div>
      </form>
      <h2>
        <a
          id="shortLink"
          data-link="<%=link%>"
          href="<%=shortLink%>"
          target="_blank"
          ><%=shortLink%></a
        >
      </h2>
      <h2 style="color: crimson"><%=msg%></h2>
    </main>
    <script src="/js/index.js"></script>
  </body>
</html>
